@font-face {
    font-family: 'dk_kaikouraregular';
    src: url('dk_kaikoura-webfont.woff2') format('woff2'),
         url('dk_kaikoura-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tulipregular';
    src: url('tulip_demo-webfont.woff2') format('woff2'),
         url('tulip_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'tulipregular', sans-serif;
}

/* COLORS
orange: #e47725
light-orange: #eca167;
*/

div.section {
  width: 100%;
  text-align: center;
}

div.section#first {
  height: 100%;
  position: relative;
  background-color: #000;
  background-image: url(../img/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
div.section#first div#scroll_down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: block;
  width: 100px;
  margin-left: -50px;
  font-size: 40px;
  background-color: #bd2328;
  color: #000;
  font-family: 'tulipregular', sans-serif;
  display: none;
}
div.section#first div#scroll_down a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 1s -webkit-color linear;
  -moz-transition: 1s -moz-color linear;
  -moz-transition: 1s color linear;
  -ms-transition: 1s -ms-color linear;
  -o-transition: 1s -o-color linear;
  transition: 1s color linear, 1s -webkit-color linear;
}
div.section#first div#scroll_down a:hover {
  color: #fff;
}
div#news {
  margin-bottom: 150px;
}

h1, h2, h3 {
  font-family: 'dk_kaikouraregular', sans-serif;
  padding: 0px;
  margin: 0px;
}
h1, h2 {
  text-shadow: 4px 4px 4px #000;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 70px;
}
.small {
  font-size: 20px;
}
.bg_black {
  background-color: #000;
  padding: 5px 10px;
}

.text.white {
  color: #fff;
}
.text.black {
  color: #000;
}
.text.orange {
  color: #e47725;
}

div.section#infos div#where {
  background-image: url('../img/fliegerhalle.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-size: 40px;
  padding: 20px;
  -moz-box-shadow: inset 0 0 20px #000000;
  -webkit-box-shadow: inset 0 0 20px #000000;
  box-shadow: inset 0 0 20px #000000;
}

div.section#news div.news {
  padding: 20px;
  overflow: auto;
  max-width: 600px;
  margin: 10px auto;
  background-color: #000;
  color: #fff;
  text-align: left;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  font-family: sans-serif;
  border: solid 1px #bd2328;
}
div.section#news div.news h3 {
  font-size: 36px;
  border-bottom: solid 2px #bd2328;
  text-shadow: none;
}
div.section#news div.news p a {
  display: inline-block;
  padding: 5px 15px;
  margin: 5px 5px 5px 0px;
  border: solid 1px #fff;
  color: #fff;
  text-decoration: none;
}
div.section#news div.news p a:hover {
  background-color: #bd2328;
}

div.section#referenten div.referent {
  padding: 20px;
  overflow: auto;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,1);
  font-family: sans-serif;
}
div.section#referenten div.referent h3 {
  font-size: 36px;
}
div.section#referenten div.referent a {
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s;
}
div.section#referenten div.referent a:hover {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
  background-color: #bd2328;
}

div.section#zeiten div.times ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.section#zeiten div.times ul li {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

div#logo {
  background-image: url(../img/logo.png);
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: -8px;
  right: -8px;
}
div#social {
  position: absolute;
  top: 25px;
  right: 10px;
}
div#social a {
  margin-right: 25px;
  text-decoration: none;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -moz-transition: 1s filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  transition: 1s filter linear, 1s -webkit-filter linear;
}
div#social a:hover {
  filter: brightness(200%);
}

@media screen and (max-width: 800px) {
  div.section#first div#banner {
    width: 100%;
    left: 0%;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px) {
  div.section#referenten div.referent {
    margin: 20px 20px;
  }
  div.section#first div#scroll_down {
    display: block;
  }
  div.section#referenten div.referent div.referent_left {
    float: none;
    width: 100%;
    height: 400px;
  }
  div.section#referenten div.referent div.referent_right {
    margin-left: 0px;
  }
  div.section#referenten div.referent div.referent_right b {
    font-size: 54px;
  }
}
